@model ServiceCategory
@{
    ViewData["Title"] = "Nova kategorija usluga";
}

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div class="paper-card">
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
    </div>
    <div class="mt-3">
        <button class="btn btn-dark" type="submit">Spremi</button>
        <a asp-action="Index" class="btn btn-outline-dark">Odustani</a>
    </div>
</form>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }
