@model ServiceCategory
<section class="page-header">
    <h1>Obriši kategoriju</h1>
</section>

<div class="paper-card border-danger">
    <p><strong>@Model.Name</strong></p>
    <p>@Model.Description</p>
    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Id" />
        <button class="btn btn-danger" type="submit">Obriši</button>
        <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-dark">Odustani</a>
    </form>
</div>
